.navbar-nav .nav-link {
  position: relative;
  color: rgb(250, 147, 147);
  transition: color 0.3 ease-in-out;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: rgb(230, 114, 101);
  left: 0;
  bottom: -2px;
  transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #9d9ea1;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

header,
#about,
#work,
#projects,
#contact {
  background: linear-gradient(135deg, #6e80b5, rgb(10, 4, 13));
}

.accent-lead {
  color: rgb(237, 186, 186);
}

.about-me-header,
.footer-header,
.work-header,
#main-header,
#projects-header,
#contact-header {
  color: rgb(246, 124, 102);
}

#about-me-text {
  color: rgb(255, 169, 159);
}

.work-inner {
  background-color: rgba(255, 255, 255, 0);
  padding: 2rem;
}

#about-me-text {
  padding-top: 10px;
}

.projects-inner {
  background-color: rgb(255, 255, 255);
}

.carousel-item img {
  max-height: 500px;
  width: auto;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(0, 0, 0);
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
}

.button,
.btn,
input[type="button"],
input[type="submit"] {
  color: rgb(0, 0, 0) !important;
}

.button:hover,
.btn:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  color: rgb(255, 144, 144) !important;
}

footer {
  background: linear-gradient(135deg, #6e80b5, rgb(10, 4, 13));
  padding: 5rem 1rem;
  margin: 0 auto;
}

.footer-div {
  background-color: rgba(255, 255, 255, 0.562);
  color: rgb(0, 0, 0);
  max-width: fit-content;
  align-content: center;
}
